In [5]:
import pandas as pd
chunk_size = 200000
chunks = pd.read_csv('title.basics.tsv',sep='\t',na_values='\\N',dtype=str,chunksize=chunk_size)
movie_chunks = []
for chunk in chunks:
    movie = chunk[(chunk['titleType']=='movie') & (chunk['runtimeMinutes'].notna())& (chunk['genres'].notna())][['tconst','primaryTitle','runtimeMinutes','genres']]

    movie_chunks.append(movie)
movie = pd.concat(movie_chunks,ignore_index=True)
print("IMported Successfully")
movie.to_csv("updated_title.csv")

IMported Successfully

In [6]:
print(movie.head())

      tconst                   primaryTitle runtimeMinutes  \
0  tt0000009                     Miss Jerry             45
1  tt0000147  The Corbett-Fitzsimmons Fight            100
2  tt0000335          Soldiers of the Cross             40
3  tt0000574    The Story of the Kelly Gang             70
4  tt0000591               The Prodigal Son             90

                       genres
0                     Romance
1      Documentary,News,Sport
2             Biography,Drama
3  Action,Adventure,Biography
4                       Drama

In [7]:
movie.to_csv("updated_title.csv")

In [20]:
chunk_size = 200000
chunks = pd.read_csv('title.ratings.tsv',sep='\t',na_values='\\N',dtype=str,chunksize=chunk_size)
main = []
for chunk in chunks:
    movie = chunk[['tconst','averageRating']]
    main.append(movie)
m2 = pd.concat(main,ignore_index=True)
m2.to_csv('updated_rating.csv')

In [10]:
input_file = 'title.akas.tsv'
output_file = 'akas_tiny.tsv'

wanted_cols = ['titleId', 'language']  # Adjust for other files as needed

# Step 1: Find column index mapping
with open(input_file, 'r', encoding='utf-8') as f:
    header = f.readline().strip().split('\t')
col_idx = [header.index(col) for col in wanted_cols]

# Step 2: Extract just those columns line by line (super low RAM!)
with open(input_file, 'r', encoding='utf-8') as f_in, open(output_file, 'w', encoding='utf-8') as f_out:
    for line in f_in:
        fields = line.strip().split('\t')
        try:
            selected = [fields[i] for i in col_idx]
        except IndexError:
            continue  # skip broken/malformed lines
        f_out.write('\t'.join(selected) + '\n')

print("Columns written to", output_file)

KeyboardInterrupt:

In [9]:
output_file

NameError: name 'output_file' is not defined

In [2]:
import pycountry
import pandas as pd
def code_to_name(code):
    try:
        return pycountry.languages.get(alpha_2=code).name
    except:
        return "Unknown"

def codes_to_names(codes):
    return ', '.join([code_to_name(c.strip()) for c in str(codes).split(',') if c])
df = pd.read_csv('updated_language.csv', sep='\t')
print(df.columns)  # You want ['titleId', 'language']
df['language_name'] = df['language'].apply(codes_to_names)

Index([',titleId', 'language'], dtype='object')

In [ ]:
df.head(10)
# df.columns

In [12]:
filtered_df = df[df['language_name'] != 'Unknown']

In [16]:
filtered_df = filtered_df.drop(columns=['language'])

ERROR! Session/line number was not unique in database. History logging moved to new session 191

In [18]:
filtered_df.shape

(35761958, 2)

In [19]:
filtered_df.to_csv('updated_languages.csv')

In [5]:
import pandas as pd
chunk_size = 200000
chunks = pd.read_csv('name.basics.tsv',sep='\t',na_values='\\N',dtype=str,chunksize=chunk_size)
main = []
for chunk in chunks:
    movie = chunk[['nconst','primaryName','knownForTitles','primaryProfession']]
    main.append(movie)
d = pd.concat(main,ignore_index=True)

In [6]:
d.head(10)

,nconst,primaryName,knownForTitles,primaryProfession
0,nm0000001,Fred Astaire,"tt0072308,tt0050419,tt0027125,tt0025164","actor,miscellaneous,producer"
1,nm0000002,Lauren Bacall,"tt0037382,tt0075213,tt0038355,tt0117057","actress,soundtrack,archive_footage"
2,nm0000003,Brigitte Bardot,"tt0057345,tt0049189,tt0056404,tt0054452","actress,music_department,producer"
3,nm0000004,John Belushi,"tt0072562,tt0077975,tt0080455,tt0078723","actor,writer,music_department"
4,nm0000005,Ingmar Bergman,"tt0050986,tt0069467,tt0083922,tt0050976","writer,director,actor"
5,nm0000006,Ingrid Bergman,"tt0034583,tt0038109,tt0036855,tt0038787","actress,producer,soundtrack"
6,nm0000007,Humphrey Bogart,"tt0034583,tt0043265,tt0037382,tt0033870","actor,producer,miscellaneous"
7,nm0000008,Marlon Brando,"tt0078788,tt0068646,tt0047296,tt0070849","actor,director,writer"
8,nm0000009,Richard Burton,"tt0061184,tt0087803,tt0057877,tt0059749","actor,producer,director"
9,nm0000010,James Cagney,"tt0029870,tt0031867,tt0042041,tt0034236","actor,director,producer"

In [7]:
d.to_csv('updated_names_info.csv')